%h1 Six Degrees
%ol
  - @results.each do |result|
    %li #{result}

%form(action="/")
  %input(name="from"   value="#{@from}")
  %input(name="to"     value="#{@to}")
  %input(name="Search" type="submit")
