<UIApplication>
	<address>16916944</address>
	<windows>
	<UIWindow>
		<address>16936864</address>
		<tag>0</tag>
		<keyWindow>YES</keyWindow>
		<frame>
			<x>0.000000</x>
			<y>0.000000</y>
			<width>320.000000</width>
			<height>480.000000</height>
		</frame>
		<subviews>
			<UILayoutContainerView>
				<address>16825152</address>
				<tag>0</tag>
				<frame>
					<x>0.000000</x>
					<y>20.000000</y>
					<width>320.000000</width>
					<height>460.000000</height>
				</frame>
				<subviews>
					<UITransitionView>
						<address>16933920</address>
						<tag>0</tag>
						<frame>
							<x>0.000000</x>
							<y>0.000000</y>
							<width>320.000000</width>
							<height>460.000000</height>
						</frame>
						<subviews>
							<UIView>
								<address>16954736</address>
								<tag>0</tag>
								<frame>
									<x>0.000000</x>
									<y>0.000000</y>
									<width>320.000000</width>
									<height>460.000000</height>
								</frame>
								<subviews>
									<UITableView>
										<address>16955360</address>
										<tag>0</tag>
										<frame>
											<x>0.000000</x>
											<y>0.000000</y>
											<width>320.000000</width>
											<height>504.000000</height>
										</frame>
										<subviews>
											<WPActivityIndicatorTVCell>
												<address>17001616</address>
												<tag>0</tag>
												<accessoryType>2</accessoryType>
												<text><![CDATA[(null)]]></text>
												<frame>
													<x>0.000000</x>
													<y>100.000000</y>
													<width>320.000000</width>
													<height>55.000000</height>
												</frame>
												<subviews>
													<UIGroupTableViewCellBackground>
														<address>17000096</address>
														<tag>0</tag>
														<frame>
															<x>9.000000</x>
															<y>0.000000</y>
															<width>302.000000</width>
															<height>55.000000</height>
														</frame>
														<subviews>
															<UIImageView>
																<address>17000288</address>
																<tag>0</tag>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>302.000000</width>
																	<height>55.000000</height>
																</frame>
																<subviews />
															</UIImageView>
														</subviews>
													</UIGroupTableViewCellBackground>
													<UIView>
														<address>17001136</address>
														<tag>0</tag>
														<frame>
															<x>10.000000</x>
															<y>1.000000</y>
															<width>261.000000</width>
															<height>54.000000</height>
														</frame>
														<subviews>
															<UIActivityIndicatorView>
																<address>17001872</address>
																<tag>1</tag>
																<frame>
																	<x>241.000000</x>
																	<y>15.000000</y>
																	<width>20.000000</width>
																	<height>20.000000</height>
																</frame>
																<subviews />
															</UIActivityIndicatorView>
															<UILabel>
																<address>16999904</address>
																<tag>2</tag>
																<text><![CDATA[My blog]]></text>
																<frame>
																	<x>10.000000</x>
																	<y>2.000000</y>
																	<width>226.000000</width>
																	<height>50.000000</height>
																</frame>
																<subviews />
															</UILabel>
															<UILabel>
																<address>17084576</address>
																<tag>0</tag>
																<text><![CDATA[(null)]]></text>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>0.000000</width>
																	<height>0.000000</height>
																</frame>
																<subviews />
															</UILabel>
														</subviews>
													</UIView>
													<UIButton>
														<address>17005968</address>
														<tag>0</tag>
														<currentTitle><![CDATA[(null)]]></currentTitle>
														<frame>
															<x>275.000000</x>
															<y>12.000000</y>
															<width>29.000000</width>
															<height>31.000000</height>
														</frame>
														<subviews>
															<UIImageView>
																<address>17007360</address>
																<tag>0</tag>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>29.000000</width>
																	<height>31.000000</height>
																</frame>
																<subviews />
															</UIImageView>
															<UIImageView>
																<address>17007456</address>
																<tag>0</tag>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>0.000000</width>
																	<height>0.000000</height>
																</frame>
																<subviews />
															</UIImageView>
															<UILabel>
																<address>17007600</address>
																<tag>0</tag>
																<text><![CDATA[(null)]]></text>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>0.000000</width>
																	<height>0.000000</height>
																</frame>
																<subviews />
															</UILabel>
														</subviews>
													</UIButton>
												</subviews>
											</WPActivityIndicatorTVCell>
											<WPActivityIndicatorTVCell>
												<address>16998528</address>
												<tag>0</tag>
												<accessoryType>1</accessoryType>
												<text><![CDATA[Add another blog...]]></text>
												<frame>
													<x>0.000000</x>
													<y>155.000000</y>
													<width>320.000000</width>
													<height>56.000000</height>
												</frame>
												<subviews>
													<UIGroupTableViewCellBackground>
														<address>16924032</address>
														<tag>0</tag>
														<frame>
															<x>9.000000</x>
															<y>0.000000</y>
															<width>302.000000</width>
															<height>56.000000</height>
														</frame>
														<subviews>
															<UIImageView>
																<address>16998880</address>
																<tag>0</tag>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>302.000000</width>
																	<height>56.000000</height>
																</frame>
																<subviews />
															</UIImageView>
														</subviews>
													</UIGroupTableViewCellBackground>
													<UIView>
														<address>16998752</address>
														<tag>0</tag>
														<frame>
															<x>10.000000</x>
															<y>1.000000</y>
															<width>277.000000</width>
															<height>54.000000</height>
														</frame>
														<subviews>
															<UIActivityIndicatorView>
																<address>16997360</address>
																<tag>1</tag>
																<frame>
																	<x>257.000000</x>
																	<y>15.000000</y>
																	<width>20.000000</width>
																	<height>20.000000</height>
																</frame>
																<subviews />
															</UIActivityIndicatorView>
															<UILabel>
																<address>16997776</address>
																<tag>2</tag>
																<text><![CDATA[(null)]]></text>
																<frame>
																	<x>10.000000</x>
																	<y>2.000000</y>
																	<width>242.000000</width>
																	<height>50.000000</height>
																</frame>
																<subviews />
															</UILabel>
															<UILabel>
																<address>16923728</address>
																<tag>0</tag>
																<text><![CDATA[Add another blog...]]></text>
																<frame>
																	<x>10.000000</x>
																	<y>16.000000</y>
																	<width>155.000000</width>
																	<height>21.000000</height>
																</frame>
																<subviews />
															</UILabel>
														</subviews>
													</UIView>
													<UIButton>
														<address>17005328</address>
														<tag>0</tag>
														<currentTitle><![CDATA[(null)]]></currentTitle>
														<frame>
															<x>291.000000</x>
															<y>22.000000</y>
															<width>10.000000</width>
															<height>13.000000</height>
														</frame>
														<subviews>
															<UIImageView>
																<address>17007024</address>
																<tag>0</tag>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>10.000000</width>
																	<height>13.000000</height>
																</frame>
																<subviews />
															</UIImageView>
															<UIImageView>
																<address>17007120</address>
																<tag>0</tag>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>0.000000</width>
																	<height>0.000000</height>
																</frame>
																<subviews />
															</UIImageView>
															<UILabel>
																<address>17007216</address>
																<tag>0</tag>
																<text><![CDATA[(null)]]></text>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>0.000000</width>
																	<height>0.000000</height>
																</frame>
																<subviews />
															</UILabel>
														</subviews>
													</UIButton>
												</subviews>
											</WPActivityIndicatorTVCell>
											<WPActivityIndicatorTVCell>
												<address>16981936</address>
												<tag>0</tag>
												<accessoryType>1</accessoryType>
												<text><![CDATA[About WordPress for iPhone]]></text>
												<frame>
													<x>0.000000</x>
													<y>238.000000</y>
													<width>320.000000</width>
													<height>56.000000</height>
												</frame>
												<subviews>
													<UIGroupTableViewCellBackground>
														<address>16992928</address>
														<tag>0</tag>
														<frame>
															<x>9.000000</x>
															<y>0.000000</y>
															<width>302.000000</width>
															<height>56.000000</height>
														</frame>
														<subviews>
															<UIImageView>
																<address>16993248</address>
																<tag>0</tag>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>302.000000</width>
																	<height>56.000000</height>
																</frame>
																<subviews />
															</UIImageView>
														</subviews>
													</UIGroupTableViewCellBackground>
													<UIView>
														<address>16983568</address>
														<tag>0</tag>
														<frame>
															<x>10.000000</x>
															<y>1.000000</y>
															<width>277.000000</width>
															<height>54.000000</height>
														</frame>
														<subviews>
															<UIActivityIndicatorView>
																<address>16983904</address>
																<tag>1</tag>
																<frame>
																	<x>257.000000</x>
																	<y>15.000000</y>
																	<width>20.000000</width>
																	<height>20.000000</height>
																</frame>
																<subviews />
															</UIActivityIndicatorView>
															<UILabel>
																<address>16991568</address>
																<tag>2</tag>
																<text><![CDATA[(null)]]></text>
																<frame>
																	<x>10.000000</x>
																	<y>2.000000</y>
																	<width>242.000000</width>
																	<height>50.000000</height>
																</frame>
																<subviews />
															</UILabel>
															<UILabel>
																<address>16992016</address>
																<tag>0</tag>
																<text><![CDATA[About WordPress for iPhone]]></text>
																<frame>
																	<x>10.000000</x>
																	<y>16.000000</y>
																	<width>233.000000</width>
																	<height>21.000000</height>
																</frame>
																<subviews />
															</UILabel>
														</subviews>
													</UIView>
													<UIButton>
														<address>17000960</address>
														<tag>0</tag>
														<currentTitle><![CDATA[(null)]]></currentTitle>
														<frame>
															<x>291.000000</x>
															<y>22.000000</y>
															<width>10.000000</width>
															<height>13.000000</height>
														</frame>
														<subviews>
															<UIImageView>
																<address>17006640</address>
																<tag>0</tag>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>10.000000</width>
																	<height>13.000000</height>
																</frame>
																<subviews />
															</UIImageView>
															<UIImageView>
																<address>17006752</address>
																<tag>0</tag>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>0.000000</width>
																	<height>0.000000</height>
																</frame>
																<subviews />
															</UIImageView>
															<UILabel>
																<address>17006848</address>
																<tag>0</tag>
																<text><![CDATA[(null)]]></text>
																<frame>
																	<x>0.000000</x>
																	<y>0.000000</y>
																	<width>0.000000</width>
																	<height>0.000000</height>
																</frame>
																<subviews />
															</UILabel>
														</subviews>
													</UIButton>
												</subviews>
											</WPActivityIndicatorTVCell>
											<WPLogoView>
												<address>17003792</address>
												<tag>0</tag>
												<frame>
													<x>-0.000000</x>
													<y>0.000000</y>
													<width>320.000000</width>
													<height>100.000000</height>
												</frame>
												<subviews />
											</WPLogoView>
											<UIImageView>
												<address>16959168</address>
												<tag>0</tag>
												<frame>
													<x>0.000000</x>
													<y>0.000000</y>
													<width>7.000000</width>
													<height>7.000000</height>
												</frame>
												<subviews />
											</UIImageView>
										</subviews>
									</UITableView>
								</subviews>
							</UIView>
						</subviews>
					</UITransitionView>
				</subviews>
			</UILayoutContainerView>
		</subviews>
	</UIWindow>
	</windows>
</UIApplication>
